
<div class="main_body">
	<div class="main_body_inner mc_main_body">

		<div class="fact_body_inner" id="mc_tab1_body">
			<div class="myContent_main">
				<div class="myContent_left_head">
					<h2>My Content</h2>
				</div>
				<div class="myContent_right_head">
				
					<div id="Reference_algn" class="active">
						<div>
							<label>Reference</label>
						</div>
					</div>
					<div id="Brochure_algn">
						<div>
							<label>Brochures</label>
						</div>
					</div>
					<div id="Presentation_algn">
						<div>
							<label>Presentations</label>
						</div>
					</div>
				</div>
			</div>
			<div id="productCategory" class="firstProduct_left"><div></div></div>
			<div id="myDocument" class="firstProduct_right">
<div></div>
			</div>
		</div>
		
	</div>

</div>
<ng-include src="'layouts/footer.html'"></ng-include>
