<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protocol</key> 
	<string>https</string>
	<key>host</key>
	<string>instance01.dev.sl.metlife.com</string>
	<key>port</key>
	<string>443</string>
	<key>wlServerContext</key>
	<string>/wl/</string>
	<key>application id</key>
	<string>MetLifeGSP</string>
	<key>application version</key>
	<string>1.7</string>
	<key>environment</key>
	<string>ipad</string>
	<key>buildtime</key>
	<string></string>
	<key>authenticitySharedData</key>
	<string>${authenticitySharedData}</string>
	<key>testWebResourcesChecksum</key>
	<string>false</string>
	<key>ignoredFileExtensions</key>
	<string></string>
	<key>wlMainFile</key>
	<string>index.html</string>
	<key>wlUid</key>
	<string>Jcs9KR+KoAh1HKGXBYpiJw==</string>			
	<key>platformVersion</key>
	<string>6.1.0.02.20150128-1747</string>
</dict>
</plist>
