<div class="main-tab-subHeader">
<div ng-switch="$Footer.showFooter">
				<ul class="tabs_main_new" ng-switch-when="createCustomer">
					<li id="header_tab1" class="show_new tab_active"><label class="ng-binding">Create Customer</label></li>
					<li id="header_tab2" class="show_new"><label class="ng-binding">Customer Fact Find</label></li>
					<li id="header_tab3" class="show_new"><label class="ng-binding">Financial Need Analysis</label></li>
					<li id="header_tab4" class="show_new"><label class="ng-binding">Sales Illustration</label></li>
				</ul>
				<ul class="tabs_main_new" ng-switch-when="customerAdvice">
					<li id="header_tab1" class="show_new"><label class="ng-binding">Create Customer</label></li>
					<li id="header_tab2" class="show_new tab_active"><label class="ng-binding">Customer Fact Find</label></li>
					<li id="header_tab3" class="show_new"><label class="ng-binding">Financial Need Analysis</label></li>
					<li id="header_tab4" class="show_new"><label class="ng-binding">Sales Illustration</label></li>
				</ul>
				<ul class="tabs_main_new" ng-switch-when="financialNeedAnalysis">
					<li id="header_tab1" class="show_new"><label class="ng-binding">Create Customer</label></li>
					<li id="header_tab2" class="show_new"><label class="ng-binding">Customer Fact Find</label></li>
					<li id="header_tab3" class="show_new tab_active"><label class="ng-binding">Financial Need Analysis</label></li>
					<li id="header_tab4" class="show_new"><label class="ng-binding">Sales Illustration</label></li>
				</ul>
				<ul class="tabs_main_new" ng-switch-when="salesIllustration">
					<li id="header_tab1" class="show_new"><label class="ng-binding">Create Customer</label></li>
					<li id="header_tab2" class="show_new"><label class="ng-binding">Customer Fact Find</label></li>
					<li id="header_tab3" class="show_new"><label class="ng-binding">Financial Need Analysis</label></li>
					<li id="header_tab4" class="show_new tab_active"><label class="ng-binding">Sales Illustration</label></li>
				</ul>
			</div>
			</div>